/* Universal Styles */

html, body {
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid green;
}

/* Menu section, includes company brand and navigation */

.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
}

.logo-name {
  display: flex;
  flex-direction: row;
  margin: 0 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  margin: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.navigation li {
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
