/* Universal Styles */

html, body {
  font-size: 16px;
}

/* Menu section, includes company brand and navigation */

.container {
    width: 1200px;
    align-items: center;
}

.menu .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 4rem;
  border: 1px solid black;
  align-items: center;
}

.navigation ul {
  display: flex;
  flex-direction: row;
}

li {
  padding-right: 1rem;
}

.strong{
  font-weight: bold;
  color: black;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title, span {
  color: grey;
}

/* first section of body */

.main-content {
  display: flex;
  flex-direction: column;
}

.first-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.banner {
  width: 60%;
  height: 20rem;
  border: 1px solid green;
}

.banner img {
  object-fit: cover;

}

.description {
  width: 40%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}
