/* Universal Styles */

html, body {
  font-size: 16px;
}

/* Menu section, includes company brand and navigation */

 .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
}

.logo-name {
  display: flex;
  flex-direction: row;
  margin: 0 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.ss-column1, .first-section .img {
  padding: 0rem 1.5rem 2rem 1.5rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  margin: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.navigation li {
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

/* First Section of the Body*/

.first-section {
  display: flex;
  flex-direction: row;
  background-color: #d6d8d7;
}

    /* image column 1 of First Section of the Body*/

.first-section .img {
  width: 60%;
}


    /* info column2  of First Section of the Body*/

.first-section .fs-info {
  width: 40%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}

.everyday, .start, .lorem {
  width: 20rem;
  margin: 0 8rem 1.5rem 1.5rem;
}

.everyday {
  font-size: 2.5rem;
  font-weight: bold;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464948;
  color: white;
  padding: .5rem 0;
}

/* Second Section of the Body*/

.second-section {
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem 0rem 0rem;
}

/* Column One - Second Section of the Body*/

.ss-column1 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.hurt {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 0rem;
}

.curabitur {
  padding-bottom: 1.5rem;
}

.emmanuel {
padding-bottom: 2rem;
}

  /* Column Two - Second Section of the Body*/

.ss-column2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 1.5rem;
  border-left: 1px solid #d6d8d7;
}

.minic2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .0rem .5rem .5rem .5rem;
  border-bottom: 1px #d6d8d7;
  border-style: double;
}

.minic2-wrapper .img {
  height: auto;
  width: 35%;
}

.minic2-wrapper .mc2w {
  height: auto;
  width: 65%
}

.minic2-wrapper2 {
  padding-top: .5rem;
}

.mc2w {
  margin-left: 2.5rem;
}

.title, .info, .read-more {
  padding-bottom: .5rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.read-more {
  color: blue;
}

.minic2-wrapper2 {
  background-color: #d6d8d7;
}

/* Section Three*/


/* Section Three - header*/

.header2  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  font-weight: bold;
  font-size: 2rem;
}

/* Section Three - Body*/

.third-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e8e8e8;
}

.mini-wrappers3 {
  width: 33%;
  background-color: white;
  margin: 1.5rem;
}

.mini-wrappers3 .title .info {
  margin-left: 1.5rem;
}

.ti .courses {
  padding: .5rem 0rem;
  color: #d6d8d7;
}

.ti .info {
  color: #d6d8d7;
}

.mini-wrappers3 .img {
  max-width: 100%;
}

.img  {
  display: flex;
  object-fit: cover;
}


/* Section Four*/

.fourth-section {
  display: flex;
  flex-direction: row;
}

.fourth-section .header3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header3 {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ti {
  margin-left: 1.5rem;
}

.info span {
  padding-top: 2rem;
}


/* Section Four column 1 */

.column-one {
  display: flex;
  flex-direction: column;
}

.column-one video {
  width: 100%;
  margin-left: 1.5rem;
}

.column-one .title .curabitur  {
  width: 100%;
  }

.column-one .title {
  margin-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.column-one .curabitur{
padding-bottom: 2rem;
}

.column-two {
  margin-left: 3rem;
}

/* Section Four column 2*/

.minic2-wrapper-grey {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d6d8d7;
}

.minic2-wrapper-grey .img {
  height: auto;
  width: 40%;
}

.minic2-wrapper-grey .mc2w {
  width: 60%;
}

.minic2-wrapper-white {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minic2-wrapper-white .img {
  height: auto;
  width: 40%;
}

.minic2-wrapper-white .mc2w {
  width: 60%;
}

/* footer */

footer {
  margin-left: 1.5rem;
  padding-top: 1rem;
  height: 5rem;
  border-top: 1px solid #e8e8e8;
}
