/* Universal Styles */

html, body {
  font-size: 16px;
}

/* Menu section, includes company brand and navigation */

.container {
    width: 1200;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 4rem;
  border: 1px solid black;
  align-items: center;
}

.menu .container {
  height: 4rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
}

li {
  padding-right: 1rem;
}
